VITE_APP_API_URL=http://localhost:8080
VITE_APP_ENABLE_API_MOCKING=false
VITE_APP_MOCK_API_PORT=8080
VITE_APP_URL=http://localhost:3000
VITE_APP_STRIPE_PUBLISHABLE_KEY=changeme
VITE_APP_VITAL_ENV=changeme
VITE_APP_GOOGLE_API_KEY=changeme
VITE_APP_CALENDLY_TOKEN=changeme
VITE_APP_TYPEFORM_FORM_ID=changeme
VITE_APP_BRIDGE_ENDPOINT=changeme
VITE_APP_BRIDGE_PUBLISHABLE_KEY=changeme
VITE_APP_NEW_RELIC_INFO_APPLICATION_ID=123
VITE_APP_NEW_RELIC_INFO_LICENSE_KEY=NRJS-changeme
VITE_APP_NEW_RELIC_LOADER_ACCOUNT_ID=123
VITE_APP_NEW_RELIC_LOADER_AGENT_ID=123
VITE_APP_NEW_RELIC_LOADER_APPLICATION_ID=123
VITE_APP_NEW_RELIC_LOADER_LICENSE_KEY=123
VITE_APP_NEW_RELIC_LOADER_TRUST_KEY=123
VITE_APP_KLAVIYO_PUBLIC_API_KEY=123
VITE_APP_KLAVIYO_LIST_ID=123
VITE_APP_ENABLE_WAITLIST=false
