VITE_APP_API_URL=http://localhost:8080
VITE_APP_ENABLE_API_MOCKING=true
VITE_APP_STRIPE_PUBLISHABLE_KEY=changeme
VITE_APP_VITAL_ENV=changeme
VITE_APP_GOOGLE_API_KEY=changeme
VITE_APP_CALENDLY_TOKEN=changeme
VITE_APP_TYPEFORM_FORM_ID=changeme
