# Secrets required to install
CENTRAL_LICENSE_KEY=changeme # The central icons license key is required when installation packages. Best practice is: doppler run -- bun install

# Secrets required at build/runtime
VITE_APP_API_URL=http://localhost:8080
VITE_APP_AUTH_URL=http://localhost:4444
VITE_APP_SOCIAL_BASE_URL=http://localhost:8080
VITE_APP_WEBSITE_URL=http://localhost:2999
VITE_APP_ENABLE_API_MOCKING=true
VITE_APP_STRIPE_PUBLISHABLE_KEY=changeme
VITE_APP_VITAL_ENV=changeme
VITE_APP_GOOGLE_API_KEY=changeme
VITE_APP_CALENDLY_TOKEN=changeme
VITE_APP_TYPEFORM_FORM_ID=changeme
VITE_APP_BRIDGE_ENDPOINT=changeme
VITE_APP_BRIDGE_PUBLISHABLE_KEY=changeme
VITE_APP_NEW_RELIC_INFO_APPLICATION_ID=123
VITE_APP_NEW_RELIC_INFO_LICENSE_KEY=NRJS-changeme
VITE_APP_NEW_RELIC_LOADER_ACCOUNT_ID=123
VITE_APP_NEW_RELIC_LOADER_AGENT_ID=123
VITE_APP_NEW_RELIC_LOADER_APPLICATION_ID=123
VITE_APP_NEW_RELIC_LOADER_LICENSE_KEY=123
VITE_APP_NEW_RELIC_LOADER_TRUST_KEY=123
VITE_APP_KLAVIYO_PUBLIC_API_KEY=123
VITE_APP_KLAVIYO_LEADS_LIST_ID=123
VITE_APP_KLAVIYO_WAITLIST_LIST_ID=123
VITE_APP_ENABLE_WAITLIST=false
VITE_APP_GO_RX_URL=http://localhost:9005
VITE_APP_MARKETING_SITE_URL=http://localhost:2999
VITE_METICULOUS_RECORDING_TOKEN=
VITE_APP_SENTRY_DSN=
VITE_APP_ENV=development
SENTRY_AUTH_TOKEN=
